.lo{
  width: 200px;
  margin-left: 5px;

}
.navbr{
  opacity: 0.7;
}
.fth h6{color:white;}
.ico i{color:white;}
.ftm{background-color:#1C2331;}
.ftl h6{color:white;}
.ftll{background-color:white;}
.ftl p{color:white;}
.ft2 h6{color:white;}
.ft2 p a{color:white;text-decoration:none;}
.ft2 p a:hover{color:#C53F1B;}
.ft3 h6{color:white;}
.ft3 p a{color:white;text-decoration:none;}
.ft3 p a:hover{color:#C53F1B;}
.ft4 h6{color:white;}
.ft4 p i{color:white;text-decoration:none;}
.ft4 p{color:white;text-decoration:none;}
.ft5{background-color:#161C27;color:white;}
